<main>
    <div class="apresentacao">
        <h1>Eu criei este Portifolho</h1>
        <p>Olá, eu me chamo João Paulo</p>
        <p>As principais areas que eu tenho conhecimento são Python, SQL e web.<br><br>
            Sou tecnico de informatica e discente do curso de redes de computadores<br>
            no Intituto Federal do Rio de Janeiro campus Arraial do Cabo.</p>
    </div>
    <div class="projects">
        <h2>Meus Projetos:</h2>
       <div class="list-projects">
           @for(data of dados; track $index){
               <div>
                    <h3>{{data.name}}</h3>
                    <p>
                        @if(data.description != null && data.description.length > 78){
                            {{data.description.slice(0,78)}}...
                        }@else if(data.description != null){
                            {{data.description}}
                        }@else {
                            &lt;sem descrição!&gt;
                        }
                    </p>
                    <a href={{data.html_url}} target="_blank">Abrir repositorio do projeto</a>
                </div>
        }
    </div>
        <a href="./projects">mais projetos</a>
    </div>
</main>