<p>Ola!</p>
<div class="story">
    <img src="perfil.PNG" alt="">
    <p>Eu me chamo João Paulo, eu sou um tecnico de informatica e estudate de rede de computadores.</p>
    <p>Conheço as linguagens de programação Python, Java, Java scrpit, e o Framework Angular alem da linguagem SQl para
        banco de dados.</p>
    <p>Atualmente venho buscando uma oportunidade de emprego como programador back-end.</p>
</div>
<div class="info">
    <h2>Estudos</h2>
    <p>Eu começei meus estudos no ensino médio no Instuto Federal do Rio de Janeiro, e após terminar meus estudos basicos
        engrecei em um curso superor de rede de computadores que esta previsto terminar em dezembro de 2026</p>
        
        <h2>Contatos</h2>
        <ul>
            <li><a href="mailto:">E-mail:joaopauloleiresloeps.15&#64;gmali.com </a></li>
            <li><a href="" target="_blank">Github: Jsp0w</a></li>
            <li><a href="" target="_blank">Linkedin: João Pualo Leires Lopes</a></li>
        </ul>
</div>