:host{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: calc(100vh - 122px - 8em);

    padding-top: 8em; 
}
h1{
    font-size: 6em;
    font-weight: 700;
}
p{
    font-size: 2.75em;
}